@import "login.css";
@import "home.css";
@import "header.css";

body {
    color: #3E3E3E;
}

a {

}

.qsa-logo {
    margin-top: 25px;
    width: 350px;
    height: 100px;
}

.qsa-btn {
    background-color: #FFDD00;
    border-color: #FFDD00;
    color: black;
}

.qsa-btn:hover {
    background-color: #a28b00;
    border-color: #a28b00;
    color: white;
}